.container {/*used grid to structure the main layout of the page*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: (5, 0.25fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    color: #c7d5e0;
    
    }
    
    .logo{
        grid-area: 1 / 1 / 2 / 2; 
        margin: 0 auto;
        margin-top: 0 auto;
       
        
    }

    header { 
        grid-area: 1 / 2 / 2 / 6; 
        font-size:80px ;
        background-color: #1b2838;
        border-radius: 10px;
        text-align: center;
        
    }
    
    .main {
        grid-area: 2 / 2 / 5 / 6; 
    
    }
    
    .navpane {
         grid-area: 2 / 1 / 6 / 2;
         background-color: #2a475e;
         border-style: solid;
         border-width: 2px;
         border-radius: 5px;
         text-align: left;
         text-decoration: none;
         line-height: 2.5;
         font-size: large;
         
        }
    
        footer { 
        grid-area: 5 / 1 / 5 / 6;
        background-color: #66c0f4;
        text-align: center;
     }
html{
    background-color:#171a21;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link{
    color: #c7d5e0;
    text-decoration: none;
}
a:hover{/*To ensure the text in the navigation pane wont change color when cursor touched it*/
    color: white;
    text-decoration: none;
}
a:visited{/*To ensure the text in nav pane color remain after visited the page*/
    color: #c7d5e0;
    text-decoration: none;
}

  .centre{/*used flex to centre image or video*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
.email{
    display: grid;
    margin: 0 auto;
}
.center{
        display: grid;
        margin: 0 auto;
  }  